body {
    background-color: #242323;
}

.wrapper__skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5625rem 4rem;
    padding: 1rem;
    align-items: center;
}

.box {
    width: auto;
    height: 18.75rem;
    padding: 1.25rem;
    background-color: #f1f0f0;
    border-radius: .625rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.3);
}

.wrapper__skills .box .tittle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .3125rem .625rem;
    border-radius: .625rem;
    color: #f3f3f3;
}

/* Colores tittle */

.wrapper__skills .box:nth-of-type(1) .tittle {
    background-color: rgb(236, 164, 62);
    border: .125rem solid rgb(221, 145, 4);
}
  
.wrapper__skills .box:nth-of-type(2) .tittle {
    background-color: rgb(135, 206, 235);
    border: .125rem solid rgb(0, 162, 255);
}
  
.wrapper__skills .box:nth-of-type(3) .tittle {
    background-color: rgb(238, 213, 69);
    border: .125rem solid rgb(201, 171, 3);
}

.wrapper__skills .box:nth-of-type(4) .tittle {
    background-color: rgb(66, 66, 66);
    border: .125rem solid rgb(0, 0, 0);
}

.wrapper__skills .box:nth-of-type(5) .tittle {
    background-color: rgb(233, 82, 75);
    border: .125rem solid rgb(184, 10, 1);
}

.wrapper__skills .box:nth-of-type(6) .tittle {
    background-color: rgb(66, 66, 66);
    border: .125rem solid rgb(0, 0, 0);
}

.wrapper__skills .box:nth-of-type(7) .tittle {
    background-color: rgb(188, 92, 247);
    border: .125rem solid rgb(130, 5, 207);
}

.wrapper__skills .box:nth-of-type(8) .tittle {
    background-color: rgb(70, 162, 248);
    border: .125rem solid rgb(0, 132, 255);
}

/* Estilos descripción */

.wrapper__skills .box .description {
    margin: 1.25rem 3.125rem;
    text-align: justify;
    font-size: 1rem;
} 

.wrapper__skills .box .description li {
    margin-top: .625rem;
} 

/*Slider*/

.logos {
    grid-column: 1 / -1;
    display: flex;
    width: 98vw;
    margin: .625rem 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-top: 1.875rem;
}

.logos__slider {
    display: flex;
    animation: 15s slider infinite linear;
}
  
.slider__item img {
    flex: 0 0 auto;
    height: 5.625rem;
    width: 50%;
    margin: 0rem 6.25rem;
    border-radius: .625rem;
}

.logos::before {
    position: absolute;
    top:0;
    left: 0;
    width: 6.25rem;
    height: 100%;
    content: " ";
    z-index: 1;
    background: linear-gradient(to right, #242323 0%, transparent 100%);
}

.logos::after {
    position: absolute;
    top:0;
    right: 0;
    width: 6.25rem;
    height: 100%;
    content: " ";
    z-index: 1;
    background: linear-gradient(to left, #242323 0%, transparent 100%);
}

@keyframes slider {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/*---------------------------*/
/*  Para pantallas pequeñas  */ 
/*---------------------------*/

@media (min-width: 0px) and (max-width: 720px) {

    .wrapper__skills {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5625rem 2rem;
        padding: 1rem;
        align-items: center;
    }

    .logos {
        width: 90vw;
    }
}

/*----------------*/
/*  Para tablets  */ 
/*----------------*/

@media (min-width: 720px) and (max-width: 1280px) {
    
    .wrapper__skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5625rem 2rem;
        padding: 1rem;
        align-items: center;
    }

    .logos {
        width: 95vw;
    }
}


/*---------------------------*/
/*  para pantallas grandes   */
/*---------------------------*/

@media (min-width: 1280px) and (max-width: 1600px) {

    .wrapper__skills {
        gap: 1.5625rem 4rem;
        padding: 1rem;
        align-items: center;
    }
    
    .box {
        width: 100%;
        height: 17.5rem;
        padding: .9375rem;
    }

    /*Slider*/
    
    .logos {
        width: 95vw;
    }
      
    .slider__item img {
        margin: 0rem 5.625rem;
    }
}
