body {
    background-color: #272727;
    background: linear-gradient(334deg, #3d3d3d, #1b1b1b, #2272ff);
	background-size: 200% 200%;
	animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wrapper {
    height: calc(100vh - 6.3125rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3.125rem;
    gap: 1.25rem;
}

.container__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img__sobremi {
    height: auto;
    width: 50%;
    border-radius: .625rem;
}

.container__description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container__head {
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

.container__text {
    padding: .625rem 1.5625rem 3.125rem 1.5625rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    text-align: justify;
    border-top: .0625rem solid #ffffffbe;
    border-radius: .625rem;
}

/*---------------------------*/
/*  Para pantallas pequeñas  */ 
/*---------------------------*/

@media (min-width: 0px) and (max-width: 800px) {
    
    body {
        background-size: 200% 200%;
    }

    .wrapper {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .container__head {
        font-size: 1rem;
        margin-bottom: 1.25rem;
    }
    
    .container__text {
        padding: .625rem 1.5625rem;
        font-size: 1rem;
    }
}

/*----------------*/
/*  Para tablets  */ 
/*----------------*/

@media (min-width: 800px) and (max-width: 1280px) {
    
    body {
        background-size: 300% 300%;
    }

    .img__sobremi {
        height: auto;
        width: 60%;
    }
    
    .container__head {
        font-size: 1.125rem;
        margin-bottom: .625rem;
    }
    
    .container__text {
        padding: .625rem 1.25rem;
        font-size: 1.125rem;
    }
}

/*---------------------------*/
/*  para pantallas grandes   */
/*---------------------------*/

@media (min-width: 1280px) and (max-width: 1600px) {

    .img__sobremi {
        width: 55%;
    }
    
    .container__head {
        font-size: 1.5rem;
        margin-bottom: .625rem;
    }
    
    .container__text {
        padding: .625rem 1.25rem;
        font-size: 1.25rem;
    }
}