* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #FAF5E9;
}

/* Estilos de pagina */
#fontPage {
    background-color: #1D1D1D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.25rem;
    height: 100vh;
}

.fontPage__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2.625rem;
    height: calc(100vh - 6.25rem);
    width: calc(100vw - 3.5rem);
}

/*  Nombre + cursos  */

.inf__name {
    font-size: 5.625rem;
    font-weight: 800;
    color: #FFFFFF;
}

.inf__courses {
    font-size: 2.5rem;
    font-weight: 100;
    color: #2272FF;
    display: inline-block;
    min-height: 3.0625rem;
    white-space: nowrap;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
    margin-top: 6rem;
}

.loading__container__box {
    height: 6rem;
    width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*  Barra de carga  */

.loading__container__tittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loading__tittle {
    color: #FFFFFF;
    margin: .625rem;
    font-size: 1.5625rem;
}

.loading__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: .125rem;
    border: .125rem solid #FFFFFF;
    height: 4rem;
    width: 28.5rem;
}

.loading__container__bar {
    background-color: #FFFFFF;
    margin: .125rem;
    height: 3.25rem;
    width: 2.1875rem;
}

.loading__container :last-child {
    animation: parpadeo 1.5s infinite;
}

@keyframes parpadeo {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Botón  */

.fontPage__button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 5rem;
    right: 5rem;

    color: #1D1D1D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    height: 3.75rem;
    width: 8.75rem;
    border-radius: .5rem;
    background-color: #FFFFFF;
}

.fontPage__button:hover {
    background-color: #3881ff;
    color: #FFFFFF;
}

.fontPage__button:active {
    background-color: #2272FF;
}

/*---------------------------*/
/*  Para pantallas pequeñas  */
/*---------------------------*/
@media (min-width: 0px) and (max-width: 560px) {
    
    /* Estilos de pagina */

    .fontPage__content {
        padding: 1.25rem;
    }

    /*  Nombre + cursos  */

    .inf__name {
        font-size: 1.5rem;
    }

    .inf__courses {
        font-size: 1rem;
        min-height: 1.0625rem;
    }

    .loading {
        margin-top: 6.25rem;
    }

    .loading__container__box {
        height: 2rem;
        width: 18.75rem;
    }

    /*  Barra de carga  */

    .loading__tittle {
        font-size: .75rem;
    }

    .loading__container {
        height: 2.5rem;
        width: 15.625rem;
    }

    .loading__container__bar {
        height: 1.875rem;
        width: 1rem;
    }

    /*  Botón   */

    .fontPage__button {
        position: absolute;
        bottom: 3.75rem;
        right: 2.5rem;
        font-size: .75rem;
        height: 3.125rem;
        width: 7.5rem;
    }
}

/*-------------------------*/
/*  Para tablets pequeñas  */
/*-------------------------*/

@media (min-width: 560px) and (max-width: 800px) {
    /* Estilos de pagina */

    .fontPage__content {
        padding: 2.5rem;
        width: calc(100vw - 3.125rem);
    }

    /*  Nombre + cursos  */

    .inf__name {
        font-size: 2.25rem;
    }

    .inf__courses {
        font-size: 1.5rem;
        font-weight: 200;
        margin-top: .625rem;
        min-height: 1.75rem;
    }

    .loading {  
        margin-top: 5rem;
}

    .loading__container__box { 
        height: 3rem;
        width: 31.25rem;
    }

    /*  Barra de carga  */

    .loading__tittle {
        font-size: 1.125rem;
    }

    .loading__container {
        height: 3.75rem;
        width: 21.875rem;
    }

    .loading__container__bar {
        height: 3.125rem;
        width: 1.5rem;
    }

    /*  Botón  */

    .fontPage__button {
        width: 8.125rem;
    }
}

/*----------------*/
/*  Para tablets  */ 
/*----------------*/

@media (min-width: 800px) and (max-width: 1400px) {
    /* Estilos de pagina */

    .fontPage__content {
        padding: 2.5rem;
        height: calc(100vh - 3.125rem);
        width: calc(100vw - 3.125rem);
    }

    /*  Nombre + cursos  */

    .inf__name {
        font-size: 3.4375rem;
    }

    .inf__courses {
        font-size: 1.875rem;
        font-weight: 200;
        margin-top: .625rem;
        min-height: 2.1875rem;
    }

    .loading { 
        margin-top: 5.625rem;
    }

    .loading__container__box { 
        height: 3.75rem;
        width: 25rem;
    }

    /*  Barra de carga  */

    .loading__tittle {
        font-size: 1.125rem;
    }

    .loading__container {
        height: 3.75rem;
        width: 21.875rem;
    }

    .loading__container__bar {
        height: 3.125rem;
        width: 1.5rem;
    }

    /*  Botón   */

    .fontPage__button {
        position: absolute;
        bottom: 4.375rem;
        right: 3.75rem;
        width: 9.375rem;
    }
}

/*---------------------------*/
/*  para pantallas grandes   */
/*---------------------------*/

@media (min-width: 1400px) and (max-width: 1600px) {
    /* Estilos de pagina */

    .fontPage__content {
        padding: 3.75rem;
        height: calc(100vh - 3.125rem);
        width: calc(100vw - 3.125rem);
    }

    /*  Nombre + cursos  */

    .inf__name {
        font-size: 4.6875rem;
    }

    .inf__courses {
        font-size: 2.25rem;
        font-weight: 200;
        margin-top: .3125rem;
        min-height: 2.75rem;
    }

    .loading { 
        margin-top: 2.5rem;
    }

    .loading__container__box { 
        height: 4.5rem;
        width: 31.25rem;
    }

    /*  Barra de carga  */

    .loading__tittle {
        font-size: 1.375rem;
    }

    .loading__container {
        height: 4.375rem;
        width: 26.5625rem;
    }

    .loading__container__bar {
        height: 3.75rem;
        width: 1.75rem;
    }

    /*  Botón  */

    .fontPage__button {
        position: absolute;
        bottom: 4.375rem;
        right: 3.75rem;
    }
}